<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🧙‍♂️</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
</head>

<body>
    <div>Diviner 🧙‍♂️</div>
    <div class="section"> Divined by positive to negative </div>
    <div class="section">
        <ol class="leaderboard">
            <li class="leaderboard-item title-item">Data Divined</li>
            {% for entry in sorted_subreddits %}
            <li class="leaderboard-item">
                <div class="rank">{{ loop.index }}.</div>
                <div class="subreddit">{{ entry }}</div>
                <div class="mood">{{ sorted_subreddits[entry]['mood']}}</div>
                <div class="score">{{ sorted_subreddits[entry]['score'] }}</div>
            </li>
            {% endfor %}
        </ol>
    </div>
</body>

</html>